<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<div class="alert alert-danger" th:if="${param.error != null}" th:text="${param.error}"></div>
		<div class="alert alert-success" th:if="${param.success != null}" th:text="${param.success}"></div>
		
	
		<h1 th:text="${titulo}"></h1>

		<a class="btn btn-primary" th:href="@{/platos/form}">Nuevo</a>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">Nombre</th>
					<th scope="col">Precio</th>
					<th scope="col">Estado</th>
					<th scope="col" colspan="2">Accciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="plato: ${platos}">
					<td th:text="${plato.nombre}"></td>
					<td th:text="${plato.precio}"></td>
					<td th:text="${plato.estado}"></td>
					<td><a class="btn btn-primary"
						th:href="@{/platos/form/} + ${plato.id}">editar</a></td>
					<td><a class="btn btn-primary"
						th:href="@{/platos/eliminar/} + ${plato.id}"
						onclick="return confirm('estas seguro que desea eliminar?');">eliminar</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<header th:replace="layout/layout :: footer"></header>

</body>
</html>